<%= form_with(model: meeting_entry, local: true) do |form| %>
  <% if meeting_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meeting_entry.errors.count, "error") %> prohibited this meeting_entry from being saved:</h2>

      <ul>
      <% meeting_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- <body>
    <%# <%= @meetings[0]['datetime'] %> %>
</body> -->

<% if @meetings[0]['status'] == 10 %>
  <label><%= check_box "temp", "@meetings[0]['datetime']" %><%= @meetings[0]['datetime'].strftime("%Y年%-m月%-d日 %-H時%-M分")%></label>
<% else %>
  <label><%= check_box "temp", "@meetings[0]['datetime']" , :disabled => true, :checked_value => "true", :unchecked_value => "false"%><del><%= @meetings[0]['datetime'].strftime("%Y年%-m月%-d日 %-H時%-M分")%></del></label>
<% end %>
<br>


<% if @meetings[1]['status'] == 10 %>
  <label><%= check_box "temp", "@meetings[1]['datetime']" %><%= @meetings[1]['datetime'].strftime("%Y年%-m月%-d日 %-H時%-M分")%></label>
<% else %>
  <label><%= check_box "temp", "@meetings[1]['datetime']" , :disabled => true%><del><%= @meetings[1]['datetime'].strftime("%Y年%-m月%-d日 %-H時%-M分")%></del></label>
<% end %>
<br>

<% if @meetings[2]['status'] == 10 %>
  <label><%= check_box "temp", "@meetings[2]['datetime']" %><%= @meetings[2]['datetime'].strftime("%Y年%-m月%-d日 %-H時%-M分")%></label>
<% else %>
  <label><%= check_box "temp", "@meetings[2]['datetime']" , :disabled => true%><del><%= @meetings[2]['datetime'].strftime("%Y年%-m月%-d日 %-H時%-M分")%></del></label>
<% end %>
<br>

<% if @meetings[3]['status'] == 10 %>
  <label><%= check_box "temp", "@meetings[3]['datetime']" %><%= @meetings[3]['datetime'].strftime("%Y年%-m月%-d日 %-H時%-M分")%></label>
<% else %>
  <label><%= check_box "temp", "@meetings[3]['datetime']" , :disabled => true%><del><%= @meetings[3]['datetime'].strftime("%Y年%-m月%-d日 %-H時%-M分")%></del></label>
<% end %>
<br>

<% if @meetings[4]['status'] == 10 %>
  <label><%= check_box "temp", "@meetings[4]['datetime']" %><%= @meetings[4]['datetime'].strftime("%Y年%-m月%-d日 %-H時%-M分")%></label>
<% else %>
  <label><%= check_box "temp", "@meetings[4]['datetime']" , :disabled => true%><del><%= @meetings[4]['datetime'].strftime("%Y年%-m月%-d日 %-H時%-M分")%></del></label>
<% end %>
<br>


  <%# <% M.each do |t|  %> %>
     <%# <%= t.meeting.datetime%> %>
  <%# <% end %> %>

  <div class="field">
    <%= form.label :family_name %>
    <%= form.text_field :family_name %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :family_kana %>
    <%= form.text_field :family_kana %>
  </div>

  <div class="field">
    <%= form.label :first_kana %>
    <%= form.text_field :first_kana %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :purpose %>
    <%= form.text_area :purpose %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>


  <div class="field">
    <%= form.check_box :agreement %>
    <%= link_to 'agreement', :controller => "meeting_entries", :action => "approval" %>
     <%# meeting_entries_path %> %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
